{% extends 'authenticate/base.html' %}
{% block content %}

<h2 class="text-center">Edit Profile</h2>

<form method="POST" action="{% url 'edit_profile' %}">
{% csrf_token %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type=”button” class=”btn-close” data-bs-dismiss=”alert”>
      <small><sup>x</sup></small>
    </button>
    <p>Your form has errors:</p>

    {% for field in form %}
        {% if field.errors %}
            {{ field.errors }}
        {% endif %}
    {% endfor %}

{% endif %}

<!-- form.as_p wraps every field in a <p> tag to help with formattiing -->
<!-- can also do form.as_ul for unordered list -->
<!-- or form.as_div to wrap each element in <div> tags -->
<!-- default is form.as_table, which doesn't look that great -->
    {{ form.as_p }}
<br/>

<input type="submit" value="Edit Profile" class="btn btn-secondary">

</form>

</div>

{% endblock %}